/* In this file you can add your custom styles. */
body{
  color: white;
  background-color: #0f2835;
  box-sizing: border-box;
  font-family: 'Pragati Narrow', sans-serif;
}
h1, .community{
  font-family: 'Playfair Display SC', serif;
}

.logo {
  height: 10vh;
}
/* Styling for homepage */
.home {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.makepost{
  padding: 5%;
  height: 40vh;
  width: 30%;
  background-color: #5AB9E8;
  margin-right: 3%;
  border-radius: 5%;
  font-size: 100%;
  position: fixed;
  z-index: 100;
}
.posts{
  margin: 1%;
  padding: 4%;
  color: #49425b;
  background-color: #fcfaf7;
  width: 50%;
  border-radius: 5%;
  float: right;
}
.votediv {
  width: 50%;
  padding-top: 5%;
}
.votes {
  width: 12%;
  padding: 1%;
  color: transparent;
  cursor: pointer;
  margin: 1%;
  background-color: #fcfaf7;
}

.up {
  width: 14%;
  padding-right: 1%;
  color: transparent;
  background-image: url('../../images/voteup.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 45%;
  margin: 1%;
}

.down {
  width: 14%;
  padding-right: 1%;
  color: transparent;
  background-image: url('../../images/votedown.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 45%;
}

/* Styling for Index file */
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createMember {
  border: 1px solid white;
  margin: 1%;
  padding: 1%;
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.alreadyMember {
  border: 1px solid white;
  margin: 1%;
  padding: 1%;
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

@media only screen and (max-width : 700px) {
  .home {
    display: flex;
    justify-content: center;
  }
  .makepost{
    padding: 5%;
    height: 12%;
    width: 100%;
    background-color: #5AB9E8;
    font-size: 100%;
    position: static;
    display: flex;
    margin-right: 0%;
  }
  .createLink {
    margin-left: 3%;
    align-self: flex-end;
  }
  .posts{
    width: 100%;
  }
}
